footer {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  background-color: orange;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer li a {
  color: white;

}

footer> :first-child {
  margin-top: 2rem;
}


@media screen and (max-width: 880px) {
  nav ul li {
    display: none;
  }
}