:root {
  --body-width: calc(100% - 150px);
  --main-color: white;
  --cta-color: rgb(237, 160, 77);
  --text-color: black;

  --lrg-heading: clamp(3.36rem, calc(2.87rem + 2.45vw), 4.77rem);
  --med-heading: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --sml-heading: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
}

img {
  width: 100%;
}

header {
  background-color:orange;
}

nav {
  display: flex;
  color: black;
  justify-content: space-between;
  margin: auto;
  padding: 20px ;
  align-items: center;
}

nav ul li {
  display: inline;
}

nav ul>* {
  padding-left: 6rem;
}

nav a {
  color: var(--main-color);
  position: relative;
}

nav a:hover::after {
  width: 100%;
}

.main {
  min-height: 100vh;
  background-color: rgb(213, 136, 30);
  background-image: url(../public/assets/main.jpeg);
  background-size: cover;
  background-position: center;
  color: var(--main-color);
}

.main h2 {
  font-size: var(--lrg-heading);
}

.main p {
  font-size: var(--sml-heading);
}

.main-btn {
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 13px 53px;
  width: auto;
}

.main-btn:hover {
  background-color: var(--cta-color);
}

div.main div.cta {
  position: absolute;
  bottom: 0;
  margin: 0 5rem 5rem;
}


.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--main-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.side {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}


section {
  max-width: var(--body-width);
  margin: 2rem auto;
}

section.products h2 {
  margin: 4rem 0;
  text-align: center;
  font-size: var(--med-heading);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 5rem;
}

.product {
color:rgb(70, 70, 70);
}

.product-button {
  background-color: orange;
  cursor: pointer;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 12px;
  transition: all 200ms;
}

.product-button:hover,
.product-button:focus {
  filter: brightness(150%);
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

span.price {
  font-weight: 500;
}


footer {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  background-color: orange;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer li a {
  color: white;

}

footer> :first-child {
  margin-top: 2rem;
}


@media screen and (max-width: 880px) {
  nav ul li {
    display: none;
  }
}